


*{
    box-sizing: border-box;
    margin: 0;
    
}

.mini-nav{
    background-color: black;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-nav > h3{
    color: white;
    font-size:small;
}


nav{
    background-color: #917fb3;
    color: white;
    margin: 0%;
    height: 4.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
 
   
}

a{
    list-style: none;
    font-size: 1rem;
    font-family:  Roboto , sans-serif;
    text-decoration: none;
    color: #fffffa;
}


.menu-hamburguesa , .nav-principal{
    display: none;
}

.carrito-container {
    position: relative;
    cursor: pointer;
  }
  
  .carrito-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .carrito-content {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 12.5rem;
    max-height: 25rem; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #c3acec;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .625rem;
    z-index: 1;
  }
  
  .carrito-content h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .lista-carrito {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .0625rem;
  }

  #root > nav > div > div.carrito-content > ul{
    gap: 16px;
    flex-direction: column;
  }
  
  .lista-carrito img {
    margin-left: 0;
  }
  
  .lista-carrito button {
    background-color: #fff;
    color: #6f50a7;
    border: 1px solid #554a69;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .lista-carrito button:hover {
    background-color: #554a69;
    color: #fff;
  }
  
  .precio-total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .vaciar-carrito-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  


  

body{
    background-color: #d7c5f7;
}

.footer-principal{
    display: flex;
    flex-direction: row;
    background-color: #917fb3;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 4rem;
    margin-bottom: 0%;

}

.container-redes{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2.5rem 
    
}

.container-ubicacion{
    padding-left: 8rem;
}

.faq{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem 
}

.png-redes{
    width: 2rem;
    height: 2rem;
}

.container-productos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
   
    justify-content: space-around;
    padding: 8rem 10rem 10rem 10rem;
}


.img-container{
    
    display: flex;
    justify-content: center;
    
}

.div-card{
    padding: 5rem, 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15.625rem;
    height: 30rem;
    background-color: #c3b4ec;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-buttons{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

button{
    width: 15.625rem;
    color: black;
    background-color: #a492c4;
    border: 0;
    
    
}

/*DETALLES PRODUCTO*/

.img-container-detalle{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.detalle-producto{
    padding: 0rem 4rem 4rem 4rem;
}

.descripcion-producto{
    padding: 0rem 9rem;
}

.descripcion-producto > p{
    font-size: 1.25rem;
    font-style: italic;
}

.notas{
    padding: 2rem 10rem;
}


/*NOSOTROS*/


.titulo-container, .essenza-bella{
    border-style: double;
    color: #8271a1;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

h1{
    color: #8271a1;
    text-shadow: black;
  
    text-align: center;
    padding: 2rem;
    font-style: oblique;
    font-weight:100;
    font-size: 3.125rem;
    text-decoration: underline .0313rem;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
}



.essenza-bella > h1{
    background-color: ·#917FB3;
    
    color: #8271a1;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    align-items: center;
    
    
}




.container-nosotros{
    padding: 4rem 8rem;
    background-color: #c3b4ec;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
}


.mision , .valores{
    
    padding: 1rem 8rem;
    background-color: #c3b4ec;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.container-nosotros > h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 2rem;
    
}

.mision > h2, .valores > h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
    font-style: italic;
    
    
}



.container-nosotros > dt , .container-nosotros > dd {
    margin-bottom: 1rem;
}

.mision > dt , .mision  > dd{
    margin-bottom: 1rem;
}
.valores > dt , .valores  > dd{
    margin-bottom: 1rem;
}

dt{
    text-decoration: underline;
    
}




/*TABLETS*/

@media only screen and (min-width:768px ) and ( max-width:1082px) {

   nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-principal {
        display: flex;
        flex-direction: column;
        
    }

    .container-redes{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .container-ubicacion{
        display: flex;
        justify-content: center;
        padding: 0%;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .faq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 4rem;
        padding: 0%;
    }


    /*PRODUCTOS/OFERTAS/NOSOTROS*/

    .container-productos {
        display: flex;
        flex-direction: column;
        gap: 1.25rem; 
        padding: 2rem; 
    }
    
    .img-container {
        display: flex;
        justify-content: center;
    }
    
    .div-card {
        padding: 2rem; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%; 
        background-color: #c3b4ec;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .container-buttons {
        display: flex;
        flex-direction: column;
        gap: .625rem;
    }
    
    button {
        width: 100%; 
        color: black;
        background-color: #a492c4;
        border: 0;
    }

    /*CARRITO*/

    /* Estilos base */
.carrito-container {
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
   
  }
  
  .carrito-icon {
    font-size: 1.5rem;
    margin-right: 0
  }
  
  .carrito-content {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 13rem;
    max-height: 25rem; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #c3acec;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .625rem;
    z-index: 1;
  }
  
  .carrito-content h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .lista-carrito {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .0625rem;
    gap: 16px;
  }
 
  
  .lista-carrito img {
    margin-left: 0;
  }
  
  .lista-carrito button {
    background-color: #fff;
    color: #6f50a7;
    border: 1px solid #554a69;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .lista-carrito button:hover {
    background-color: #554a69;
    color: #fff;
  }
  
  .precio-total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .vaciar-carrito-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilos para pantallas entre 768px y 1082px */
  @media only screen and (min-width: 768px) and (max-width: 1082px) {
    .carrito-content {
      min-width: 15rem; /* Ajusta el ancho mínimo según tus necesidades para pantallas medianas */
    }
  }
  
    
    
}

                /*CELULARES*/

@media only screen and (min-width:320px) and (max-width: 767px){
    
    nav{
        display: none;
       
    }

    nav > ul{
        display: none;
        
    }

    .footer-principal {
        display: flex;
        flex-direction: column;
        
    }

    .container-redes{
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
        padding: 0%;
       
    }

    
    .png-redes{
    width: 1.5rem;
    height: 1.5rem;
     }

    .container-ubicacion{
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
       
    }

    .faq{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }


        /*PRODUCTOS/OFERTAS/NOSOTROS*/

        div > h1{
            font-size: 2rem
        }

        .essenza-bella{
            margin-bottom: 2rem;
        }

        .essenza-bella > h1{
            font-size: 2rem;
        }


        .container-nosotros , .mision , .valores{
            
            margin-bottom:   1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            
        }


        

        /* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: static;
    background-color: #917FB3;
  }
  
  .menu-hamburguesa .barra {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #8271a1;
  }
  
  .menu-hamburguesa.abierto .barra:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-hamburguesa.abierto .barra:nth-child(2) {
    opacity: 0;
  }
  
  .menu-hamburguesa.abierto .barra:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Estilos para el menú principal */
  .nav-principal {
    display: flex;
    justify-content: flex-start;
    width: 27rem;
    height: 100%;
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.625rem;
    background-color: #917FB3;
    position: absolute;
    z-index: 1000;
  }
  
  .nav-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .nav-principal ul li {
    margin-right: 20px;
  }
  
  .nav-principal ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Aplicar transición al menú principal al abrir/cerrar el menú hamburguesa */
  .nav-principal.abierto {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-principal.cerrado {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Estilos para el carrito */
  .carrito-container {
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  .carrito-icon {
    font-size: 1.5rem;
    margin-right: 0;
  }
  
  .carrito-content {
    position: absolute;
    top: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    right: 0;
    left: -0.625rem;
    width: 26rem; /* Ajusta el ancho según tus necesidades */
    /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    background-color: #c3acec;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    z-index: 1500;
  }
  
  .carrito-content h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .lista-carrito {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.0625rem;
    gap: 16px;
  }
  
  .lista-carrito img {
    margin-left: 0;
  }
  
  .lista-carrito button {
    background-color: #fff;
    color: #6f50a7;
    border: 1px solid #554a69;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .lista-carrito button:hover {
    background-color: #554a69;
    color: #fff;
  }
  
  .precio-total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .vaciar-carrito-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
          

          




        

    }