


*{
    box-sizing: border-box;
    margin: 0;
    
}

.mini-nav{
    background-color: black;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-nav > h3{
    color: white;
    font-size:small;
}


nav{
    background-color: #917fb3;
    color: white;
    margin: 0%;
    height: 4.5rem;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    

}

ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
 
   
}

a{
    list-style: none;
    font-size: 1rem;
    font-family:  Roboto , sans-serif;
    text-decoration: none;
    color: #fffffa;
}

body{
    background-color: #d7c5f7;
}

.footer-principal{
    display: flex;
    flex-direction: row;
    background-color: #917fb3;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 4rem;
    margin-bottom: 0%;

}

.container-redes{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2.5rem 
    
}

.container-ubicacion{
    padding-left: 8rem;
}

.faq{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem 
}

.png-redes{
    width: 2rem;
    height: 2rem;
}

.container-productos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
   
    justify-content: space-around;
    padding: 8rem 10rem 10rem 10rem;
}


.img-container{
    
    display: flex;
    justify-content: center;
    
}

.div-card{
    padding: 5rem, 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15.625rem;
    height: 30rem;
    background-color: #c3b4ec;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-buttons{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

button{
    width: 15.625rem;
    color: black;
    background-color: #a492c4;
    border: 0;
    
    
}

/*DETALLES PRODUCTO*/

.img-container-detalle{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.detalle-producto{
    padding: 0rem 4rem 4rem 4rem;
}

.descripcion-producto{
    padding: 0rem 9rem;
}

.descripcion-producto > p{
    font-size: 1.25rem;
    font-style: italic;
}

.notas{
    padding: 2rem 10rem;
}


/*NOSOTROS*/


.titulo-container, .essenza-bella{
    border-style: double;
    color: #8271a1;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

h1{
    color: #8271a1;
    text-shadow: black;
  
    text-align: center;
    padding: 2rem;
    font-style: oblique;
    font-weight:100;
    font-size: 3.125rem;
    text-decoration: underline .0313rem;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
}



.essenza-bella > h1{
    background-color: ·#917FB3;
    
    color: #8271a1;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    align-items: center;
    
    
}




.container-nosotros{
    padding: 4rem 8rem;
    background-color: #c3b4ec;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
}


.mision , .valores{
    
    padding: 1rem 8rem;
    background-color: #c3b4ec;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.container-nosotros > h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 2rem;
    
}

.mision > h2, .valores > h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
    font-style: italic;
    
    
}



.container-nosotros > dt , .container-nosotros > dd {
    margin-bottom: 1rem;
}

.mision > dt , .mision  > dd{
    margin-bottom: 1rem;
}
.valores > dt , .valores  > dd{
    margin-bottom: 1rem;
}

dt{
    text-decoration: underline;
    
}

a{
    list-style: none;
    text-decoration: none;
}


/*TABLETS*/

@media only screen and (min-width:768px ) and ( max-width:1082px) {

   nav{
        display: flex;
        justify-content: center;
    }

    .footer-principal {
        display: flex;
        flex-direction: column;
        
    }

    .container-redes{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .container-ubicacion{
        display: flex;
        justify-content: center;
        padding: 0%;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .faq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 4rem;
        padding: 0%;
    }


    /*PRODUCTOS/OFERTAS/NOSOTROS*/

    .container-productos {
        display: flex;
        flex-direction: column;
        gap: 1.25rem; 
        padding: 2rem; 
    }
    
    .img-container {
        display: flex;
        justify-content: center;
    }
    
    .div-card {
        padding: 2rem; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%; 
        background-color: #c3b4ec;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .container-buttons {
        display: flex;
        flex-direction: column;
        gap: .625rem;
    }
    
    button {
        width: 100%; 
        color: black;
        background-color: #a492c4;
        border: 0;
    }
    
    
}

                /*CELULARES*/

@media only screen and (min-width:320px) and (max-width: 767px){
    
    nav{
        display: flex;
        justify-content: center;
    }

    nav > ul{
        display: flex;
        justify-content: center;
        gap: 8%;
        margin: 0%;
        padding: 0%;
    }

    .footer-principal {
        display: flex;
        flex-direction: column;
        
    }

    .container-redes{
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
        padding: 0%;
       
    }

    
    .png-redes{
    width: 1.5rem;
    height: 1.5rem;
     }

    .container-ubicacion{
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
       
    }

    .faq{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }


        /*PRODUCTOS/OFERTAS/NOSOTROS*/

        div > h1{
            font-size: 2rem
        }

        .essenza-bella{
            margin-bottom: 2rem;
        }

        .essenza-bella > h1{
            font-size: 2rem;
        }


        .container-nosotros , .mision , .valores{
            
            margin-bottom:   1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            
        }

        

}






